{% extends 'base/base.html' %}

{% block title %}
    Principal
{% endblock %}


{% block header %}

    <div class="container-fluid well span6">
	    <div class="row-fluid">
                {%load static%}
                <img src="{%static 'img/player.png'%}" class="img-circle" height="42" width="42">
                 {% if user.is_authenticated %}
                    <h5>User {{ user.username }}</h5>
                     <h6>Email: {{ user.email }}</h6>
                {% else %}
                    Not logged in.
                {% endif %}
        </div>
    </div>

{% endblock %}



{%block contect%}

        <div class="row">

            <div class="col-md-4">
                <h1>Historial de Partidas</h1>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn center-block">Crear Partida</button>
                <br>
                <br>
                <button type="button" class="btn center-block">Mis Estadisticas</button>
            </div>
            <div class="col-md-4">
                <h1>Partidas Disponibles</h1>
                <ul class="list-group">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>


{% endblock %}